@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&family=Bebas+Neue&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

 * { 
  scroll-behavior: smooth;
}

/* footer */

.footer-links a {
  color: #3D3D3D;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 85.5%;
  /* 27.36px */
  letter-spacing: 3.36px;
}

.social-links a svg {
  width: 2.3rem;
  height: 2.3rem
}

/* landing */

.head-links a {
  color: #3D3D3D;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 85.5%;
  letter-spacing: 3.78px;
}

.img-1 {
  background: url("./images/img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 370px;
  width: 250px;
  border-radius: 2.5rem;
}

.btn2 {
  background: rgba(248, 152, 185, 0.90) !important;
  border-radius: .6rem !important;
}

.btn2:hover {
  background: rgba(240, 116, 159, 0.9) !important;
}

.btn3 {
  background: #745AC3 !important;
  border-radius: .6rem !important;
  margin-left: 15px;
}

.btn3:hover {
  background: #6142c0 !important;
}

/* demo form modal */

.form-inputs {
  border: 2px solid #745AC3 !important;
}

.form-inputs:focus {
  box-shadow: none !important;
}

.form-inputs::placeholder {
  color: #667085;
  font-family: Montserrat !important;
  font-weight: 400 !important;
  font-size: 12px !important;
}

.form-labels {
  color: #344054;
  font-family: Montserrat !important;
  font-weight: 500 !important;
  margin-bottom: 2px !important;
  font-size: 12px !important;
}

.modal-close-btn {
  position: absolute;
  right: 1%;
  top: 1%;
}

.modal-close-btn:hover {
  cursor: pointer;
}

.btn1:hover {
  background-color: #6444c2 !important;
}

/* schedule call */

.btn4:hover {
  background: #6444c2 !important;
}